@media(max-width: 1199px){
    .main-header .banner-content{
        max-width: 460px;
    }
    .main-header .banner-content h1{
        font-size: 2.5em;
    }
    .btn-flex{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .btn-flex a{
        display: block;
        width: 100%;
        flex: 1 1 auto;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }
    .btn-flex a span{
        display: block;
        text-align: center;
    }
    .btn-flex a:after{
        transform: skewY(12deg) translateY(130%);
    }
    .btn-flex a:hover:after{
        transform: skewY(0deg) translateY(0%);
    }
}
@media(max-width: 991px){
    .main-footer .ft-logo{
        margin: 0 auto ;
        margin-bottom: 2em;
    }
    .main-footer{
        padding: 3em 0px;
        padding-top: 4em;
    }
    .main-header .banner-img{
        min-height: 500px;
        position: relative;
    }
    .main-header .banner-img img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
    }
    .main-header .banner-content{
        max-width: 340px;
    }
    .main-header .banner-content h1{
        font-size: 2em;
    }
    .para{
        font-size: 14px;
    }
    .offser-carousel-container{
        max-width: 690px;
        margin: 0 auto !important;
        padding: 0;
        margin-bottom: 2em !important;
    }
    .sec-head h3{
        font-size: 2em;
    }
    .timeline-img{
        margin-bottom: 1.5em;
    }
    .logo-sec .logo-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 30px;
    }
    .person-wrapper{
        grid-template-columns: 1fr;
    }
    .person-wrapper .l-part:after{
        display: none;
    }
    .person-wrapper .l-part{
        grid-row: 2 / 2;
        padding: 1.5em 1em !important;
    }
    .person-wrapper .r-part{
        grid-row: 1 / 1;
    }
    .ek-img{
        margin-bottom: 1.5em;
    }
}
@media(max-width: 767px){
    .main-footer .ft-link{
        margin-bottom: 1.5em !important;
    }
    .main-btn.pos-right{
        margin-left: 0 !important;
    }
    .sec-2 .sec-head{
        margin-bottom: 1em;
    }
    .offser-carousel-container{
        margin: 0 auto !important;
        margin-bottom: 2em !important;
        max-width: 516px;
    }
    .sec-3 .sec-3-img{
        display: none;
    }
    .sec-3, .sec{
        padding: 3em 0px;
    }
    .main-header .banner-content{
    
        width: 100%;
        max-width: 540px;
        padding-top: 2em;
        padding-bottom: 2em;
        margin: 0 auto !important;
    }
    .main-header .banner-img{
        min-height: auto;
        position: relative;
    }
    .main-header .banner-img img{
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
    }
    .big-text{
        font-size: 1.8em;
    }
    .qt-text{
        font-size: 1em;
    }
}
@media(max-width: 600px){
    .logo-sec .logo-grid{
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 15px;
    }
    /* .logo-sec .logo-grid .logo img{
        object-position: left;
    } */
    .main-header .banner-content, .offser-carousel-container, .container{
        padding-left: 1.3rem !important;
        padding-right: 1.3rem !important;
    }
}
@media(max-width: 400px){
    .navbar .main-btn{
        display: none;
    }
    .navbar .l-part a img{
        width: 100px;
    }
}
@media(min-width: 991px){
    .navbar .r-part{
        margin-left: 3em !important;
    }
}